body,html {
  height: 100%;
  overflow: hidden;
}

#startupOverlay {
  opacity: 0.85;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  z-index: 5000;
}

#progressBar {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 300px;
  z-index: 6000;
}


#mainContainer {
}

#messageBox {
  padding-top: 1em;
}

#sideBar{
  border-right: 1px solid #B6B6B6;
  padding-right: 0px;
  padding-bottom: 0px;
}

#textInput {
  margin-top: 5px;
  padding: 5px;
  width: 100%;
}

#userInformationContainer {
  border-bottom: 1px solid #B6B6B6;
  background-color: #303f9f;
  padding: 5px;
  color: white;
}

#userInformationHeader h5{
  padding-left: 5px;
  font-weight:bold;
}

#userInformationData {
  height: 30px;
  padding: 5px;
}

#contactsContainer {
  background-color: #c5cae9;
  padding: 5px;
}

#contactsHeader {
  padding-left: 5px;
}

#contactsHeader h6 {
  display:inline-block;
  font-weight:bold;
  color: #212121
}

#addContactButton {
  display:inline-block;
  float:right;
  padding-top: 5px;
  padding-right: 10px;
  cursor: pointer;
}

#addContactButton:hover {
  color: #FF0000;
}

#newContactFormContainer {
  display: none;
  padding: 5px;
  border-bottom: solid 1px #B6B6B6;
}

#newContactFormButtons {
  padding-top: 5px;
}

#contactRequestContainer {
  display: none;
  border-bottom: solid 1px #B6B6B6;
  background-color: #ff9800;
  color: #212121;
}
#contactRequestHeader {
  padding: 5px;
}

.pendingContactRequest {
  padding: 8px;
}

.pendingContactRequest:hover {
  background-color: #448aff;
  cursor: pointer;
  color: white;
}

.contact {
  padding: 8px;
  color: #212121;
}

.contact:hover {
  background-color: #448aff;
  color: white;
  cursor: pointer;
}

.contact:hover .editContactIcon, .contact:hover .deleteContactIcon {
  visibility: visible;
}

.deleteContactIcon {
  float: right;
  padding-right: 3px;
  visibility: hidden;
}

.editContactIcon {
  float: right;
  padding-right: 5px;
  visibility: hidden;
}

.contactAddress {
  padding-left: 3px;
}

.contactRequestAddress {
  padding-left: 5px;
}

.requestIcon {
  padding-right: 5px;
}

.deleteRequestIcon {
  float: right;
}

.requestStatusIcon {
  float: right;
  padding-right: 10px;
}

.nickTextInput {
  width: 65%;
  padding: 0px;
  color: #212121;
}

.chatContainer {
}

.chatHeader {
  font-weight: bold;
  font-size: 1.25em;
}

.chatInputDiv {
  position: absolute;
  bottom: -35px;
  width: 90%;
}

.chatInput {
  width: 100%;
}

.chatContent {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}

.specificChatContainer {
  height: 100%;
  padding-right: 10px;
}

.hiddenChat {
  display: none;
}

.chatSending {
  background-color: #FFFF66;
}

.chatFailed {
  background-color: #FF8080;
}

.chatName {
  font-weight: bold;
}

.chatTextDiv {
  transition: background 0.5s linear;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 10px;
}

.chatTextSpan {
  padding-left: 10px;
}

.height100 {
  height: 100%;
}

.container-fluid {
  padding:0px;
  margin: 0px;
}

.messageNotification {
  color: #FF3300;
}

.btn {
    padding: 7px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 14px;
}

.buttonRow {
  margin-top: 10px;
}

.systemMessage {
  margin-top: 10px;
  border: solid 1px #B6B6B6;
  padding: 7px 24px;
  border-radius: 14px;
}
