body,html {
  height: 100%;
  overflow: hidden;
}

#mainContainer {
}

#messageBox {
  padding-top: 1em;
}

#sideBar{
  border-right: 1px solid;
  padding-right: 0px;
  padding-bottom: 0px;
}

#textInput {
  margin-top: 5px;
  padding: 5px;
  width: 100%;
}

#userInformationContainer {
  border-bottom: 1px solid;
  background-color: #66A3FF;
  padding: 5px;
}

#userInformationHeader h5{
  padding-left: 5px;
  font-weight:bold;
}

#userInformationData {
  height: 30px;
  padding: 5px;
}

#contactsContainer {
  background-color: #E6F0FF;
  padding: 5px;
}

#contactsHeader {
  padding-left: 5px;
}

#contactsHeader h6 {
  display:inline-block;
  font-weight:bold;
}

#addContactButton {
  display:inline-block;
  float:right;
  padding-top: 5px;
  padding-right: 10px;
  cursor: pointer;
}

#addContactButton:hover {
  color: #FF0000;
}

#newContactFormContainer {
  display: none;
  padding: 5px;
  border-bottom: solid 1px;
}

#newContactFormButtons {
  padding-top: 5px;
}

#contactRequestContainer {
  display: none;
  border-bottom: solid 1px;
  background-color: #FFD700;
}
#contactRequestHeader {
  padding: 5px;
}

.pendingContactRequest {
  padding: 8px;
}

.pendingContactRequest:hover {
  background-color: #66CCFF;
  cursor: pointer;
}

.contact {
  padding: 8px;
}

.contact:hover {
  background-color: #66CCFF;
  cursor: pointer;
}

.contact:hover .editContactIcon, .contact:hover .deleteContactIcon {
  visibility: visible;
}

.deleteContactIcon {
  float: right;
  padding-right: 3px;
  visibility: hidden;
}

.editContactIcon {
  float: right;
  padding-right: 5px;
  visibility: hidden;
}

.contactAddress {
  padding-left: 3px;
}

.contactRequestAddress {
  padding-left: 5px;
}

.requestIcon {
  padding-right: 5px;
}

.deleteRequestIcon {
  float: right;
}

.requestStatusIcon {
  float: right;
  padding-right: 10px;
}

.nickTextInput {
  width: 65%;
  padding: 0px;
}

.chatContainer {
}

.chatHeader {
  font-weight: bold;
  font-size: 1.25em;
}

.chatInputDiv {
  position: absolute;
  bottom: -20px;
  width: 90%;
}

.chatInput {
  width: 100%;
}

.chatContent {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}

.specificChatContainer {
  height: 100%;
}

.hiddenChat {
  display: none;
}

.height100 {
  height: 100%;
}

.container-fluid {
  padding:0px;
  margin: 0px;
}

.chatName {
  font-weight: bold;
}

.chatTextSpan {
  padding-left: 10px;
}

.messageNotification {
  color: #FF3300;
}
