{
  "env": {
    "es6": true
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "eol-last": "error",
    "keyword-spacing": ["error", {"overrides": {
      "catch": {"after": false},
      "do": {"after": false},
      "for": {"after": false},
      "if": {"after": false},
      "switch": {"after": false},
      "while": {"after": false}
      }}],
    "indent": ["error", 2, {"SwitchCase": 1}],
    "max-len": ["error", 80],
    "no-irregular-whitespace": "error",
    "no-mixed-spaces-and-tabs": "error",
    "no-spaced-func": "error",
    "no-trailing-spaces": "error",
    "object-curly-spacing": ["error", "never"],
    "semi": ["error", "always"],
    "space-before-blocks": "error",
    "space-before-function-paren": ["error", "never"],
    "space-infix-ops": "error",
    "space-in-parens": ["error", "never"],
    "spaced-comment": ["error", "always"]
  }
}
